VITE_FIREBASE_API_KEY="AIzaSyCQKY0C47E-ce__AS6Uxly75hQigIiBjko"
VITE_FIREBASE_AUTH_DOMAIN="nlp-project-3e61e.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="nlp-project-3e61e"
VITE_FIREBASE_APP_ID="1:1010509926107:web:0afaf80f3f27e61e9506fe"
VITE_BACKEND_URL=http://localhost:8000
