FIREBASE_PROJECT_ID="nlp-project-3e61e"
FIREBASE_PRIVATE_KEY="c26ea13e971429980058772ef3ded1d75ff18208"
FIREBASE_CLIENT_EMAIL="firebase-adminsdk-fbsvc@nlp-project-3e61e.iam.gserviceaccount.com"
CLOUDINARY_CLOUD_NAME="dd95gjmtt"
CLOUDINARY_API_KEY="697417616549864"
CLOUDINARY_API_SECRET="D-Y54J4qDrpSlklaxWYrTTvb5-E"
FRONTEND_URL=http://localhost:5173
